* {
  box-sizing: border-box;
  font-family: inherit;
}

button {
  appearance: none;
  background: unset;
  border: unset;
  color: unset;
  cursor: pointer;
  font: unset;
  margin: unset;
  padding: unset;
}

input {
  appearance: none;
  background: unset;
  color: unset;
  font: unset;
}

th {
  text-align: unset;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
